<div class="page-top">
  <%= erb :_secondary_section_top %>
</div>

<div class="page-bottom">
  <%= erb :_form %>
  <%= erb :_secondary_section_bottom %>
</div>

<footer style="background-color:#555">
  footer
</footer>
